head, body, div {
    -ms-text-size-adjust: 100% !important;
    -webkit-text-size-adjust: 100% !important;
    color: #333 !important;
    overflow: hidden !important;
    font-family: "Microsoft YaHei",Helvetica,"Meiryo UI","Malgun Gothic","Segoe UI","Trebuchet MS",Monaco,monospace,Tahoma,STXihei,"华文细黑",STHeiti,"Helvetica Neue","Droid Sans","wenquanyi micro hei",FreeSans,Arimo,Arial,SimSun,"宋体",Heiti,"黑体",sans-serif;
    font-size: 16px !important;
    line-height: 1.6 !important;
    word-wrap: break-word !important;
}

.page {
    margin-right: .5em;
    padding: 0;
    cursor: pointer;
    width: 1.7em;
    min-width: 1.7em;
    height: 1.7em;
    background: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 6px;
}

/*CSS 页码样式 */
.page_img {
    overflow-clip-margin: content-box;
    overflow: clip;
    border-style: none;
    display: block;
    margin: auto;
}

/* CSS 页码图片样式 */
.avatar {
    vertical-align: middle;
    margin-left: .4em;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.editor {
    height: 0px;
}